body{background-color:rgba(255, 217, 0, 0.247);}
nav{background-color: gold;color:black;padding: 15px;font-size: 20px;box-shadow: 15px 15px 10px;border-radius: 15px;height: 50px;overflow: hidden;position: fixed;}
ul{list-style:none;}
li{display:inline-block;padding: 25px;}
*{padding:0px;margin: 0px;}
#yu{margin-left: 455px;}
#vi{margin-left: 275px;}
#ti{list-style: none;height: 50px;}
#oi{height: 38PX;box-shadow: 10PX 1PX 5PX ;}
.h1{margin-left: 55px;}
.h4{margin-left: 185px;margin-top:-20px;text-shadow: 15px 15    px 20px ;}
#h{margin-left: 385px;margin-top: 70px;font-size:30px;color: rgba(0, 0, 255, 0.842);}
#p{width: 455px;margin-left: 385px;margin-top: 25px;}
#next{margin-left: 1070px;margin-top: -490px;font-size:30px;color: rgba(0, 0, 255, 0.911);}
#np{width: 455px;margin-left: 1078px;margin-top: 25px;}
#qv{margin-left: 1070px;margin-top: 68px;font-size: 30px;color: rgba(0, 0, 255, 0.911);}

#mg{padding: 15px;margin-left: 455px;margin-top: 30px;border-radius: 55px;box-shadow: 15px 10px 10px 10px }
#gg{padding: 15px;border-radius: 55px;box-shadow: 15px 10px 10px 10px;margin-left: 35px;}
#ig{padding: 15px;border-radius: 55px;box-shadow: 15px 10px 10px 10px;margin-left: 35px; }
.mk{border: 1px solid black;background-color:goldenrod;border-radius: 55px;box-shadow: 15px 10px 10px 10px;}
#oi{margin-left: 55px;}
#bn{margin-left:530px;margin-top: 30px;}
#b{margin-left:880px;margin-top: -29px;}
#n{margin-left: 1250px;margin-top: -28px;}
#v{margin-left: 195px;font-family: serif;}
.d{background-color: rgb(117, 117, 117);border: 1px solid black;height: 155px;}

